<nav class="navbar navbar-inverse" style="padding-left:10px;padding-right: 10px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/"><img src="/public/img/background_white.png" alt="" class="img-responsive" style="width:80px;transform: translateY(-10px);"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li id="nav-home"><a href="/homepage"><span class="fa fa-home"></span>&nbsp; Home</a></li>
          <li id="nav-newpoll"><a href="/newpoll"><span class="fa fa-plus"></span>&nbsp; New Poll</a></li>
          <li id="nav-polls"><a href="/pollspage"><span class="fa fa-user"></span>&nbsp; My Polls</a></li> 
          <li><a href="/users/logout"><span class="fa fa-sign-out"></span>&nbsp; Logout</a></li> 
      </ul>
    </div>
  </div>
</nav>
