#home, #mypolls {
	margin: 10px 30px;
}

.panel-title {
	text-align: center !important;
	font-size:17px;
}

.title-link {
	text-decoration: none !important;
	color: #212121;
}

.title-link:hover {
	color: #212121;
}

.panel-collapse {
	padding: 30px 30px;	
}

.panel {
	margin-top: 15px !important;
}

.panel-heading {
	padding: 20px 20px;
}

.chart {
	margin-top: 20px;
}
